{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 150,
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "endOfLine": "lf"
}
